.campaigns-container {
  width: 600px;
}

.campaigns {
  background-color: $component-bg;
  height: 222px;
  overflow-y: scroll;
}

.campaigns-clear-btn {
  color: $active-bg;
  cursor: pointer;
  margin-bottom: 15px;
}

.campaign {
  align-items: center;
  display: flex;
  height: 20%;
  overflow: hidden;
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;

  label {
    align-items: center;
    display: flex;

    .checkbox-container {
      padding-bottom: 2px;
    }

    input[type="checkbox"] {
      font-size: 18px;
      margin-right: 15px;
    }

    .campaign-id {
      font-weight: 700;
      margin-right: 15px;
    }
  }
}
