.campaigns-container {
  width: 600px;
}

.campaigns {
  background-color: $component-bg;
  height: 222px;
  overflow-y: scroll;
}

.campaigns-clear-btn {
  color: $active-bg;
  cursor: pointer;
  margin-bottom: 15px;
}

.campaign {
  height: 20%;
  line-height: 2.35;
  overflow: hidden;
  padding-left: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;

  input[type="checkbox"] {
    margin-right: 15px;
  }

  .campaign-id {
    font-weight: 700;
    margin-right: 15px;
  }
}
