.emails-container {
  background-color: $component-bg;
}

.legend {
  background-color: $pop-gray;
  padding: 10px 15px;
}

.email-filter {
  width: 285px;
}

.legend-action-container {
  width: 630px;
}

.legend-action {
  align-items: center;
  display: flex;
}

.action-type {
  margin-left: 15px;
}

.action-box {
  height: 41px;
  width: 26px;
}

.action-box--open {
  @include action-box-mod($action-open);
}

.action-box--click {
  @include action-box-mod($action-click);
}

.action-box--bounce {
  @include action-box-mod(black);
}

.action-box--unsub {
  @include action-box-mod($uie-red);
}

.action-box--none {
  @include action-box-mod(white);
}

.col-group-headers {
  border-left: 1px solid $pop-gray;
  border-right: 1px solid $pop-gray;
  font-weight: 700;
  display: flex;
  line-height: 2.75;
}

.email-address-header {
  background-color: white;
  border-right: 1px solid $pop-gray;
  height: 50px;
  padding-left: 15px;
  width: 300px;
}

.campaigns-header {
  height: 51px;
  padding-left: 15px;
  width: 660px;
}

.public_fixedDataTableRow_main,
.public_fixedDataTableCell_main,
.public_fixedDataTableRow_highlighted,
.public_fixedDataTableRow_highlighted .public_fixedDataTableCell_main
 {
  background-color: $component-bg;
}

.public_fixedDataTableCell_main {
  border: 0;
}

.public_fixedDataTableCell_cellContent {
  padding: 0;
}

.email-address-cell {
  background-color: white;
  height: 51px;
  padding-left: 15px;
  width: 300px;
}

.campaign-cell {
  background-color: $component-bg;
  padding-right: 1px;

  .first-col {
    margin-left: 15px;
  }

  .action-box, .first-col {
    margin-top: 5px;
  }
}
