.filter {
  width: 450px;
}

.filter-direction-container {
  margin-bottom: 15px;
}

.filter-title {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 350px;
}

.below-input {
  margin-right: 15px;
}

.controllers {
  background-color: $component-bg;
  display: flex;
  height: 100px;
}

.control {
  flex: 3;
}

.control-unsub {
  flex: 1.75;
  margin: 13.5px auto;

  h4 {
    margin-bottom: 10px;
  }
}

.control-value-container {
  margin: auto;
  text-align: center;
}

.control-value {
  font-size: 2em;
  font-weight: 700;
}

.arrows {
  background-color: $pop-gray;
  height: 100%;
  width: 25%;

  hr {
    border: 0;
    border-top: 1px solid white;
    display: block;
    height: 1px;
    width: 100%;
  }

  @include flex(column, space-around, center);
}

.arrow-up {
  cursor: pointer;
  margin-top: 5px;
  @include triangle('up', 12.5px, white);
}

.arrow-down {
  cursor: pointer;
  margin-bottom: 5px;
	@include triangle('down', 12.5px, white);
}
